<html>
    <head>
        {% include 'library.html' %}
                <!-- MDBootstrap Datatables  -->
<link href="/static/node_modules/mdbootstrap/css/addons/datatables.min.css" rel="stylesheet">
<!-- MDBootstrap Datatables  -->
<script type="text/javascript" src="/static/node_modules/mdbootstrap/js/addons/datatables.min.js"></script>

     <script>
     
     $(document).ready(function () {
$('#dtBasicExample').DataTable();
$('.dataTables_length').addClass('bs-select');
});
    </script>
    <style>
    table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}
#titlec{
    color: black;
}
    </style>
    
    </head>
    <body>
        {% include 'navbar.html' %}    

        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <tr>
                        <th>Date</th>
                        {% for i in range(0, enterpriseannual.enterpriseValues|length) %}
                        <th> {{enterpriseannual.enterpriseValues[i].date}} </th>
                        {% endfor %}
                    </tr>
            </thead>
            <tbody>
                    {% set mylist = ['date','Stock Price','Number of Shares','Market Capitalization',
                    '- Cash & Cash Equivalents','+ Total Debt','Enterprise Value'] %}

                    {% for i in range(0, mylist|length) %}
                 <tr>
                        <td><strong>{{ mylist[i] }}</strong></td>
                        {% for j in range(0, enterpriseannual.enterpriseValues|length ) %}
                        <td>
                        {{  enterpriseannual["enterpriseValues"][j][mylist[i]] }}
                        </td>
                        {% endfor %}
                 </tr>
                    {% endfor %}
        </tbody>
        </table>

    

        <!-- {{enterpriseannual}} -->
    </body>
    
</html>